
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users can only read and write to their own document.
    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }

    // Enterprises can only be read or written to by their members.
    match /enterprises/{enterpriseId} {
      allow read, update, delete: if request.auth.uid in resource.data.memberIds;
      // Any authenticated user can create an enterprise.
      allow create: if request.auth.uid != null;
    }

    // Invitations
    match /invitations/{invitationId} {
      // Allow the invited user to read/update (accept/decline) the invitation.
      allow read, update: if request.auth.token.email == resource.data.email;
      // Allow members of an enterprise to create invitations for it.
      allow create: if request.auth.uid in get(/databases/$(database)/documents/enterprises/$(request.resource.data.enterpriseId)).data.memberIds;
    }
  }
}
