
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users can read and write to their own user document.
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // Enterprises can be created by any authenticated user, as long as they are the owner.
    // Only members of the enterprise can read or update it.
    match /enterprises/{enterpriseId} {
      allow create: if request.auth != null && request.resource.data.ownerId == request.auth.uid;
      allow read, update: if request.auth != null && get(/databases/$(database)/documents/enterprises/$(enterpriseId)).data.memberIds.hasAny([request.auth.uid]);
    }

    // Invitations can be created by any authenticated user.
    // They can be read or updated by the invited user.
    match /invitations/{invitationId} {
        allow create: if request.auth != null;
        allow read, update: if request.auth != null && resource.data.email == request.auth.token.email;
    }
  }
}
